@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root{
  --background: hsl(172, 34%, 80%);
  --title-color: hsl(183, 100%, 15%);
  --container-background: hsl(0, 0%, 100%);
}
html{
  max-width: 100%;
  max-height: 100%;
}
body{
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: var(--background);
}
header{
  width: 100%;
  height: 6rem;
  margin-top: 2rem;
  color:  var(--title-color);
  font-size: 12px;
  text-align: center;
  background-color: inherit;
}
#main_container{
  width: 60%;
  height: 60%;
  margin: 0% 20% 0% 20%;
  background-color: var(--container-background);
  display: flex;
}
#data_container{
  width: 50%;
  padding: 5%;
  /* background-color: darkred; */
}
#bill_total_container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#bill_total_container p{
  width: 80%;
}
#bill_total_container input{
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  border: 0px;
  background-color: hsl(189,6%,91%);
  font-family: 'Space Mono', monospace;
}

#result_container{
  width: 50%;
}
input[type='radio'][name='buttonGroup'] { 
    display:none; 
}
label {
  display:inline-block;
  padding:3px;
  border:1px solid #e0e0e0;
  border-radius:3px;
  background-color:#F0F0F0;
  width: 90%;
  text-align:center;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
input[type='radio'][name='buttonGroup']:checked + label { 
    background-color: blue; 
}

span{
  position: relative;
  font-size: 14px;
  color: darkblue;
  float: right;
}
#people_container{
  background-color: darkmagenta;
}